:root {
  --html-width: 340px;
  --html-height: 600px;
  --body-padding-top: 0px;
  --body-padding-right: 5px;
  --body-padding-bottom: 0px;
  --body-padding-left: 5px;
  --gray: #555555;
}

html {
  width: var(--html-width);
  height: var(--html-height);
  margin: 0;
}

body {
  margin: 0;
  padding-top: var(--body-padding-top);
  padding-right: var(--body-padding-right);
  padding-bottom: var(--body-padding-bottom);
  padding-left: var(--body-padding-left);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.jc-start {
  justify-content: flex-start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.ai-start {
  align-items: flex-start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: flex-end;
}

.ta-start {
  text-align: start;
}

.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

.b-red {
  border: 1px solid red;;
}

.b-blue {
  border: 1px solid blue;;
}

.b-black {
  border: 1px solid black;;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-20 {
  margin: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}
